* {
  box-sizing: border-box;
}

body {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
}

.square {
  width: 40px;
  height: 40px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 10px #111111;
  border-radius: 50%;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
